<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="keywords" content="teamform, team">
    <!-- The meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>teamform - admin page</title>

    <script src="lib/jquery.min.js"></script>
    <script src="lib/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" >
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css">

    <!-- Material Design Lite CDN -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://code.getmdl.io/1.2.1/material.orange-indigo.min.css" />
    <script defer src="https://code.getmdl.io/1.2.1/material.min.js"></script>

    <!-- Angular Material CDN -->
    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.0/angular-material.min.css">

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <!-- CSS files -->
    <link rel="stylesheet" href="css/app.css">
    <link rel="stylesheet" href="css/admin.css">

    <!-- Customized libraries shared by pages -->
    <script src="js/site.js"></script>
</head>
<body>
    <div ng-app="teamform-admin-app" ng-controller="AdminCtrl">
        <div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
            <!-- navigation bar -->
            <header class="mdl-layout__header">
                <div class="mdl-layout__header-row">
                    <span class="mdl-layout__title">Admin</span>
                    <div class="mdl-layout-spacer"></div>
                    <nav class="mdl-navigation mdl-layout--large-screen-only">
                        <a href="index.html" class="mdl-navigation__link">Home</a>
                        <a href="about.html" class="mdl-navigation__link">About</a>
                        <a href="user.html" class="mdl-navigation__link">Profile</a>
                    </nav>
                </div>
            </header>
            <!-- navigation drawer -->
            <div class="mdl-layout__drawer">
                <span class="mdl-layout__title">Team Form</span>
                <nav class="mdl-navigation">
                    <a href="index.html" class="mdl-navigation__link">Home</a>
                    <a href="about.html" class="mdl-navigation__link">About</a>
                    <a href="user.html" class="mdl-navigation__link">Profile</a>
                    <br>
                    <p class="mdl-navigation__link" style="color: black">Click on the page to close the navigation.</p>
                </nav>
            </div>


            <main class="mdl-layout__content">
                <md-content ng-cloak class="md-padding">
                    <div class="text-center">
                        <div class="row">
                            <div class="col-md-2 col-xs-2"></div>
                            <div class="col-md-8 col-xs-8 text-left panel">
                                <strong>Minimum Team Size:</strong>
                                <span class="badge">
                                    {{param.minTeamSize}}</span>
                                <button><span class="glyphicon glyphicon-plus" ng-click="changeMinTeamSize(1);"></span></button>
                                <button><span class="glyphicon glyphicon-minus" ng-click="changeMinTeamSize(-1);"></span></button>
                                <br><br>
                                <strong>Maximum Team Size: </strong>
                                <span class="badge">
                                    {{param.maxTeamSize}}</span>
                                <button><span class="glyphicon glyphicon-plus" ng-click="changeMaxTeamSize(1);"></span></button>
                                <button><span class="glyphicon glyphicon-minus" ng-click="changeMaxTeamSize(-1);"></span></button>
                                <br><br>
                                <button type="button" class="btn btn-primary" ng-click="saveFunc();" >Create/Modify</button>
                                <form>
                                    <!-- Datepicker -->
                                    <br><br>
                                    <div class="row" ng-cloak>
                                        <div layout-gt-xs="row">
                                            <div flex-gt-xs>
                                                <h4>Start Date: </h4>
                                                <md-datepicker ng-model="startDate" ng-change="startChange()" ng-required="true" md-placeholder="Enter date"></md-datepicker>
                                            </div>

                                            <div flex-gt-xs>
                                                <h4>End Date: </h4>
                                                <md-datepicker ng-model="endDate" md-min-date="minDate" ng-required="true" md-placeholder="Enter date"></md-datepicker>
                                            </div>
                                        </div>
                                    </div>
                                    <br>
                                    <br><br>
                                    <!-- TextArea -->
                                    <md-input-container class="md-block">
                                        <label>Details: </label>
                                        <textarea ng-model="details" ng-required="true" md-maxlength="150" rows="2" md-select-on-focus></textarea>
                                    </md-input-container>
                                    <button type="submit" class="btn btn-primary" ng-click="saveContent()" >Submit</button>
                                </form>

                            </div>
                            <div class="col-md-2 col-xs-2"></div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-md-6 col-xs-6 text-right" >
                                <h3>All teams:</h3>
                                <ul ng-repeat="t in team">
                                    <li>
                                        User ID: {{t.$id}}  <br>
                                        Preferred team size: <span class="badge">{{t.size}}</span> <br>
                                        Current team members: {{t.teamMembers}}
                                    </li>
                                </ul>
                            </div>
                            <div class="col-md-6 col-xs-6 text-left">
                                <h3>All members:</h3>
                                <ul ng-repeat="m in member">
                                    <li>ID = {{m.$id}} <br>
                                        Name = {{m.name}} <br>
                                        request to join the following teams: {{m.selection | json}}
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </md-content>
            </main>
        </div>
    </div>


    <!-- JavaScript of this page -->

    <script src="lib/angular.min.js"></script>
    <script src="lib/angular-route.min.js"></script>

    <script src="lib/firebase.js"></script>
    <script src="lib/angularfire.min.js"></script>

    <!-- UI Bootstrap CDN -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/2.2.0/ui-bootstrap.min.js"></script>

    <!-- Angular Material CDN -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular-animate.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular-aria.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.0/angular-material.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular-messages.min.js"></script>

    <script src="js/admin.js"></script>
</body>
</html>
