<!DOCTYPE html>
<html lang="en" ng-app="teamform-member-app">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="keywords" content="teamform, team">
    <!-- The meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>teamform - member page</title>

    <script src="lib/jquery.min.js"></script>
    <script src="lib/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" >
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css">
    <link rel="stylesheet" href="css/site.css" >

    <!-- Material Design Lite CDN -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://code.getmdl.io/1.2.1/material.orange-indigo.min.css" />
    <script defer src="https://code.getmdl.io/1.2.1/material.min.js"></script>

    <!-- Customized libraries shared by pages -->
    <script src="js/site.js"></script>
</head>
<body>
    <a href="index.html">
    <button id="btn_admin" type="button" class="btn btn-primary" >Back to the front-end</button></a>

    <br>

    <div class="text-center">
        <h1>Member Page</h1>
        <h2 id="text_event_name"></h2>
        <div id="member_page_controller" ng-controller="MemberCtrl">

            <div class="row">
                <div class="col-md-2 col-xs-2"></div>

                <div class="col-md-8 col-xs-8 panel">
                    <form class="form-horizontal">
                        <div class="form-group">
                            <label for="inputUserID" class="col-sm-3 control-label">User ID</label>
                            <div class="col-sm-5">
                                <input type="text" class="form-control" id="inputUserID" ng-model="userID" placeholder="Enter your User ID">
                            </div>

                            <div class="col-sm-4">
                                <button type="button" class="btn btn-primary" ng-click="saveFunc();" >Add/Modify</button>
                                <button type="button" class="btn btn-primary" ng-click="loadFunc();" >Load</button>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="inputName" class="col-sm-3 control-label">Name</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" id="inputUserName" ng-model="userName" placeholder="Type in your name">
                            </div>
                        </div>
                    </form>

                    <div class="row text-left">
                        <h3>Your team preference:</h3>
                        <div ng-repeat="team in teams">
                            <div class="checkbox">
                                <label><input type="checkbox" value="{{team.$id}}"
                                    ng-checked="selection.indexOf(team.$id) > -1"
                                    ng-click="toggleSelection(team.$id)">{{team.$id}}</label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-2 col-xs-2"></div>
            </div>
        </div>
    </div>

    <!-- JavaScript of this page -->

    <script src="lib/angular.min.js"></script>
    <script src="lib/angular-route.min.js"></script>

    <script src="lib/firebase.js"></script>
    <script src="lib/angularfire.min.js"></script>

    <!-- UI Bootstrap CDN -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/2.2.0/ui-bootstrap.min.js"></script>

    <!-- Angular Material CDN -->
    <script src="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.1/angular-material.min.js"></script>

    <script src="js/member.js"></script>
</body>
</html>
