<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="keywords" content="teamform, team">
    <!-- The meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>teamform - user home page</title>

    <script src="lib/jquery.min.js"></script>
    <script src="lib/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css">

    <!-- Material Design Lite CDN -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://code.getmdl.io/1.2.1/material.orange-indigo.min.css" />
    <script defer src="https://code.getmdl.io/1.2.1/material.min.js"></script>

    <!-- Angular Material CDN -->
    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.0/angular-material.min.css">

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <!-- CSS files -->
    <link rel="stylesheet" href="css/app.css">
    <link rel="stylesheet" href="css/user.css">

    <!-- Customized libraries shared by pages -->
    <script src="js/site.js"></script>
</head>
<body>
    <div ng-app="teamform-user-app" ng-controller="UserCtrl">
        <div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
            <!-- navigation bar -->
            <header class="mdl-layout__header">
                <div class="mdl-layout__header-row">
                    <span class="mdl-layout__title">User</span>
                    <div class="mdl-layout-spacer"></div>
                    <nav class="mdl-navigation mdl-layout--large-screen-only">
                        <a href="index.html" class="mdl-navigation__link">Home</a>
                        <a href="about.html" class="mdl-navigation__link">About</a>
                        <a href="user.html" class="mdl-navigation__link">Profile</a>
                    </nav>
                </div>
            </header>
            <!-- navigation drawer -->
            <div class="mdl-layout__drawer">
                <span class="mdl-layout__title">Team Form</span>
                <nav class="mdl-navigation">
                    <a href="index.html" class="mdl-navigation__link">Home</a>
                    <a href="about.html" class="mdl-navigation__link">About</a>
                    <a href="user.html" class="mdl-navigation__link">Profile</a>
                    <br>
                    <p class="mdl-navigation__link" style="color: black">Click on the page to close the navigation.</p>
                </nav>
            </div>


            <main class="mdl-layout__content">
                <md-content ng-cloak class="md-padding">
                    <div ng-if="user">
                        <h1>{{user.displayName}}</h1>
                        <h2>{{user.email}}</h2>
                        <img ng-src="{{user.photoURL}}" />

                        <md-card ng-repeat="(eventKey, eventValue) in userObj.events">
                            <md-card-title>
                                <md-card-title-text>
                                    <span class="md-headline">{{eventKey}}</span>
                                    <span class="md-subhead">{{eventValue.team}}</span>
                                </md-card-title-text>
                            </md-card-title>
                            <md-card-content ng-if="!eventValue.team">
                                <md-subheader>Requests</md-subheader>
                                <md-content>
                                    <md-list ng-cloak>
                                        <md-list-item ng-repeat="request in eventValue.selection" ng-href="team.html?q={{eventKey}}">
                                            <span>{{request}}</span>
                                        </md-list-item>
                                    </md-list>
                                </md-content>
                            </md-card-content>
                        </md-card>
                    </div>

                    <div ng-if="!user">
                        <p>no user is signed in</p>
                    </div>
                </md-content>
            </main>
        </div>
    </div>


    <!-- JavaScript of this page -->

    <script src="lib/angular.min.js"></script>
    <script src="lib/angular-route.min.js"></script>

    <script src="lib/firebase.js"></script>
    <script src="lib/angularfire.min.js"></script>

    <!-- UI Bootstrap CDN -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/2.2.0/ui-bootstrap.min.js"></script>

    <!-- Angular Material CDN -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular-animate.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular-aria.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.0/angular-material.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular-messages.min.js"></script>

    <script src="js/user.js"></script>
</body>
</html>
